.store_wrapper {
  min-height: 100vh;
}
.store_content_container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 20% 55% 20%;
  gap: 2.4rem;
  padding: 1.6rem;
  margin: auto;
  margin-top: 7.5rem;
}

@media screen and (max-width: 1200px) {
  .store_content_container {
    grid-template-columns: 30% 65%;
  }
  .cart_container {
    grid-column-start: 2;
  }
}

@media screen and (max-width: 600px) {
  .store_content_container {
    grid-template-columns: 95%;
  }
  .cart_container {
    grid-column-start: 1;
  }
}
